html{
  background-color: #5D6D7E;
}

body{
  padding-top: 70px;
  background-color: #5D6D7E;


}

/*#plus{

}

#minus{

}*/

#timer{
  font-size: 100px;
  padding-left: 240px;
  color: white;
}

#start{
  color: black;

}

#break{
  color: black;

}

#pause{
  color: black;

}

#reset{
  color: black;

}
