html{
  background-color: #5D6D7E;
}

body{
  padding-top: 70px;
  background-color: #5D6D7E;


}

/*#plus{

}

#minus{

}*/

#timerStateText{
  font-size: 50px;
  color: white;
}

#timer{
  font-size: 300px;
  /*padding-left: 240px;*/
  color: white;
}

#start{
  color: black;

}

#break{
  color: black;

}

#pause{
  color: black;

}

#reset{
  color: black;

}
